<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @todo.image %>
</p>

<ol>
  <% @todo.users.each do |todo| %>
    <li>
      <%= todo.email %>  
    </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
